* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color: black;
}
body {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    /* background: url('./img/bg_blue.webp'); */
    background-color: whitesmoke;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.header__navbar {
    /* width: 960px; */
    opacity: 0;
    transition: all 1.5s ease;
}

.header-title {
    /* height: 107px; */
    display: flex;
}

.header-title h2 {
    display: flex;
    align-content: flex-start;
    font-weight: 400;
}

.header-title span {
    position: absolute;
    top: 50px;
    left: 180px;
    color: blue;
    font-weight: 600;
    font-size: 16px;
}

.header__list {
    /* height: 107px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    z-index: 0;
}

nav {
    width: 100%;
}
.nav-item {
    padding: 0 20px;
}

.nav-item a {
    padding: 0 10px;
    font-weight: 400;
    font-size: 21px;
    /* text-transform: ; */
    transition: all .5s ease-in-out;
}
.nav-item a:hover {
    color: red;
}
.pre-wrap {
    width: 100%;
}
.nav-wrap {
    position: fixed;
    width: 100%;
}

.main-wrapp {
    opacity: 0;
    transition: all 1.5s ease;
    z-index: 999999;
    border-radius: 10px;
    padding: 30px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.fade-out {
    opacity: 0;
    transition: all 1s ease;
}

.about-section {
    padding: 30px 5px;
    
    /* border: 1px solid #fff; */
    /* background-color: rgba(0, 0, 0, 0.35); */
}

.about-item {
    padding: 15px 5px;
}

.descr-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    padding-top: 60px;
    box-shadow: 0px 0px 20px navy;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 1);
}


.radio-section {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 540px;
}
.name {
    display: flex;
    justify-content: flex-end;
}

.separation-wrapper {
    display: flex;
    justify-content: center;
}

/* SKILLS SECTION */

.about-section {
    box-shadow: 0px 0px 20px navy;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 1);
}

.skills-content {
    padding: 15px 0;
}

.skills-text {
    text-align: center;
}

.tech-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}
.icons-row {
    background-color: #fffa;

    margin-top: 25px;
    padding: 10px 0;
}
.icon-item {
    padding: 10px 5px;
    font-size: 35px;
}

.projects-content {
    padding: 15px 0;
    padding-bottom: 40px;
}

.projects__card {
    margin: 0 auto;
    width: 75%;
    border: 1px solid;
    padding: 30px 0;
    text-align: center;
}

.projects-footer { 
    margin-top: 15px;
    text-align: center;
}

.project__card-wrap {
    display: flex;
    justify-content: center ;

}

.card {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

/* CONTACT SECTION  */

.contact {
    box-shadow: 0px 0px 20px navy;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 1);
}

.contact__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}



/* FOOTER SECTION  */

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid yellow; */
}


.footer-content {
    text-align: center;
    font-weight: 600;
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 10px;
    vertical-align: middle;
    
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-links ul li a {
    color: blue;
    padding: 15px 25px;
    font-size: 24px;
    text-decoration: none;
    transition: all .5s ease-in-out
}

.stamp {
    display: block;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}

/* SCRIPTS  */

#preloader {
    position: fixed;
    z-index: 0;
}

.lottie-pre {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.menu {
    --color: #fff;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    outline: none;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
}
.menu svg {
    width: 64px;
    height: 48px;
    top: -6px;
    left: -14px;
    stroke: var(--color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
}
.menu svg path {
    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
    stroke-dashoffset: var(--offset, 126px);
    transform: translateZ(0);
}
.menu svg path:nth-child(2) {
    --duration: 0.7s;
    --easing: ease-in;
    --offset: 100px;
    --array-2: 74px;
}
.menu svg path:nth-child(3) {
    --offset: 133px;
    --array-2: 107px;
}
.menu.active svg path {
    --offset: 57px;
}
.menu.active svg path:nth-child(1), .menu.active svg path:nth-child(3) {
    --delay: 0.15s;
    --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
.menu.active svg path:nth-child(2) {
    --duration: 0.4s;
    --offset: 2px;
    --array-1: 1px;
}
.menu.active svg path:nth-child(3) {
    --offset: 58px;
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}
body .dribbble img {
    display: block;
    width: 76px;
}
body .twitter {
    position: fixed;
    display: block;
    right: 112px;
    bottom: 14px;
}
body .twitter svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.active {
    opacity: 1;
}

@media (max-width: 1200px) {
    .header-title span {
        position: fixed;
        top: 38px;
        left: 100px;
        font-weight: 600;
    }
}

@media (max-width: 414px) {
    .navbar {
        display: flex;
        flex-direction: row;
    }
    .nav {
        flex-direction: column;
    }
    .header-title span {
        position: fixed;
        top: 32px;
        left: 55px;
        font-weight: 600;
        font-size: 14px;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-weight: 700;
        color: bisque;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    .card-text {
        color: fuchsia;
    }

    .card-body {
        visibility: 1;
    }
}