* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color: whitesmoke
}

body {
    background: url('./img/bg_blue.webp');
    background-color: darkblue  ;
}
.pre-wrap {
    width: 100%;
}

.main-wrapp {
    opacity: 0;
    transition: all 1.5s ease;
    z-index: 10;
}

.fade-out {
    opacity: 0;
    transition: all 1s ease;
}

.about-section {
    padding: 15px 5px
}
.header-title {
    opacity: 0;
    position: relative;
    padding: 10px 20px;   
    font-size: 14px;
    transition: all 0.5s ease;
}

.header-title h2 {
    font-weight: 400;
}

.header-title span {
    position: absolute;
    top: 38px;
    left: 75px;
    color: blue;
    font-weight: 600;
}

.descr-section {
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    padding-top: 60px;
}

.descr-content {
    width: 660px;
}

.radio-section {
    display: flex;
    justify-content: center;
}


/* 
.skills {
    
} */
/* 
body {
    background: ;
} */

.container {
    max-width: 540px;
}
.name {
    display: flex;
    justify-content: flex-end;
}

.separation-wrapper {
    display: flex;
    justify-content: center;
}
.projects-content { 
    width: 200px;
    height: 75px;
    display: block;
    padding-bottom: 25px;
}

.footer-section {
    /* display: flex; */
    justify-content: center;
    padding: 15px;;
}
.footer-content {
    text-align: center;
    font-weight: 600;
}

.footer-links {
    display: flex;
    justify-content: center;
}
.footer-links a {
    color: blue;
    padding: 15px 25px;
    font-size: 24px;
    text-decoration: none;
    transition: all .5s ease-in-out
}

.footer-links a:hover {
    color: cyan;
}

#preloader {
    position: fixed;
    z-index: 0;
}

.lottie-pre {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}


/* #preloader {
    position: fixed;
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;
    transition: all .5 ease;
} */

/* #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
} */
/* @-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} */
.active {
    opacity: 1;
}
